@tailwind base;
@tailwind utilities;
@tailwind components;

.open-sans-brand {
	font-family: 'Caveat', serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.btn-primary {
	@apply py-2 px-4 text-center text-white font-medium bg-primary duration-150 hover:opacity-90 active:opacity-80 rounded-lg shadow-lg hover:shadow-none disabled:bg-primary/80  disabled:border-primary border-2 border-transparent;
}

.btn-secondary {
	@apply py-2 px-4 text-center border-2 border-transparent text-primary font-medium bg-primary/10 duration-150 hover:bg-primary/20 active:bg-primary/30 rounded-lg;
}

.router-link-active {
	@apply bg-stone-200/50 text-primary;
}
