@tailwind base;
@tailwind utilities;
@tailwind components;

.open-sans-brand {
	font-family: 'Caveat', serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.btn-primary {
	@apply py-2 px-4 flex items-center gap-2 justify-center text-sm text-center text-white font-medium bg-primary duration-150 hover:opacity-90 active:opacity-80 rounded-lg shadow-lg hover:shadow-none disabled:bg-primary/80  disabled:border-primary border-2 border-transparent;
}

.btn-danger {
	@apply py-2 px-4 flex items-center gap-2 justify-center text-sm text-center text-white font-medium bg-red-500 duration-150 hover:opacity-90 active:opacity-80 rounded-lg shadow-lg hover:shadow-none disabled:bg-red-300/80  disabled:border-red-500 border-2 border-transparent;
}

.btn-secondary {
	@apply py-2 px-4 flex items-center gap-2 justify-center text-sm text-center border-2 border-transparent text-primary font-medium bg-primary/10 duration-150 hover:bg-primary/20 active:bg-primary/30 rounded-lg;
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
	appearance: textfield; /* Chrome, Safari, Edge */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.loader {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #264653 94%, #0000) top/8px 8px no-repeat,
		conic-gradient(#0000 30%, #264653);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
	animation: l13 1s infinite linear;
}
@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}
